body {
    width: 400px; /* largura */
    margin: auto; /* espaçamento externo */
    margin-top: 50px; /* espaçamento externo superior */
    background-color: cornflowerblue; /* cor de fundo */
}
h3 {
    color:coral; /* cor do texto para vermelho */
}

div {
    padding-bottom: 30px; /* espaçamento interno abaixo*/
}

#container{
    background-color:firebrick; /* cor de fundo */
    color: white; /* cor do texto*/
    padding: 10px; /* espaçamento interno */
    border-radius: 20px; /* borda com cantos arredondados */
}